html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}

nav,
  #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  margin-bottom: 11em;
}

.burger-nav {
  background: rgb(18, 35, 51);
}

.burger-nav a {
  display: block;
  color: rgb(122, 162, 255);
  padding: 10px 20px;
}

@media(min-width: 600px) {
  nav {
    display: block;
  }
}

.width-70 {
    width: 70%;
    margin: 0 auto;
}

a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

.burger-nav > a {
    padding: 2% 3%;
}

.burger-nav > a:hover {
    background-color: rgb(18, 35, 51);
    color: rgb(122, 162, 255);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid img {
    width: 100%;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .header-logo{
    width: 127px;
    height: 79.856px;
    display: absolute;
    float: left;
    color: white;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
  }

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em 0;
}

.nav-header-flex {
  display: flex;
  justify-content: end;
}

.width-30 {
  width: 30%;
    margin: 0 auto;
}

.some-icon {
  max-width: 32px;
}

.header-icon {
  padding: 3em 3em;
  width: 32px;
  height: 32px;
}

.border {
  border: 3px solid white;
  border-radius: 30px;
}

.width-400 {
  width: 400px;
  height: 400px;
}

.flex-1 {
  flex: 1;
}

div.align-normal {
  align-items: normal;
}

.hero-image-button {
  background-image: url(images/Cyber\ mini.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.flex-vertical {
  flex-direction: column;
  align-items: center;
}

.hero-text-button {
  font-size: 4em;
  margin: 0 auto;
}

.flex-horizontal {
  flex-direction: column;
  justify-content: center;
}

.hero-gamepage-image-button {
  background-image: url(images/Forge\ legend\ mini.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-gamepage-text-button {
  width: 400px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.border-gamepage {
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.line {
  border-bottom: 1px solid white;
}

.button-small {
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button-large {
  width: 930px;
  height: 400px;
}

.grid-payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
        "head -"
        "main main2"
        "footer footer";
}

input {
  border: 3px solid white;
  background-color: black;
  color: white;
  width: 200px;
  border-radius: 26px;
}

.message-box {
  width: 100%;
  height: 500px;
}

