html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    width: 70%;
    margin: 0 auto;
}

a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

nav > a {
    padding: 2% 3%;
}

nav > a:hover {
    background-color: rgb(18, 35, 51);
    color: rgb(122, 162, 255);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid img {
    width: 100%;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }